body {
  text-align: center;
}

img {
  width: 182px;
  margin: 2px;
}

.player-column {
  border-radius: 5px;
  padding: 5px;
}

.center {
  border: none;
}

.hide {
  display: none;
}

#cat-column {
  border: 1px solid yellow;
}

#dog-column {
  border: 1px solid red;
  color: white;
}

ul {
  list-style-type: none;
}
